.btn{
    display: inline-block;
    float: left;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    color: #fff;
    background-color: #0659b3;
    border-radius: 20px;
    font-size: 20px;
    line-height: 20px;
    cursor: pointer;
    box-shadow: 0 4px 8px #555;
}
    .btn:hover {
        box-shadow: 0 4px 10px #333;
    }