body {
    display: block;
    background-color: chocolate;
}
body, body * {
    margin: 0%;
    padding: 0%;
    vertical-align: top;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
    main {
        display: inline-block;
        width: 20%;
        float: left;
        background-color: cornflowerblue;
        margin-top: 50%;
    }
        div {

        }
            h1 {

            }
                p {

                } 
                    a {

                    }
                         a {

                         }
        div {

        }
            form {

            }
                button {

                }
                    label {

                    }
                         input {

                     }
        div {

        }
            a {

            }
                a {

                }
